extends layout
block content
  form
      .field
        label(for='question') Question
        br
        input(type='text', name='question', id='question')
      .field
        label(for='answerone') Answer 1
        br
        input(type='text', name='answerone')
      .field
        label(for='answertwo') Answer 2
        br
        input(type='text', name='answertwo')
        
      a#submit(href='#') Create
