extends layout

block content
form(action='')
      .field
        label(for='question') Question
        br
        input(type='text', name='question')
      .field
        label(for='answerone') Answer 1
        br
        input(type='text', name='answerone')
      .field
        label(for='answertwo') Answer 2
        br
        input(type='text', name='answertwo')
      .submit
        input#submit(type='submit', value='create poll')
