extends layout

block content
    main
      h1.pollQuestion  - Question - 
      .one
        p.countone -count-
        .box
          a.pollAnswer1  - Answer 1 - 
      .two
        p.counttwo -count- 
        .box
          a.pollAnswer2  - Answer 2 - 