extends layout

block content
    main
      h1.pollQuestion  - Question - 
      .one
        p  - % - 
        .box
          p  - Answer 1 - 
      .two
        p  - % - 
        .box
          p  - Answer 2 - 