body
{
    background-color: blue;
    color: white;
    font-family: sans-serif;
}

nav
{
    margin: 1em 0;
}

nav a
{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    padding: 1em;
}

main
{
    text-align: center;
    margin: 1em;
    text-transform: uppercase;
}

.box
{
    border: 1em solid;
    display: block;
    margin: auto;
    text-align: center;
    padding: 2em;
}

.box a{
    cursor: pointer;
}

form
{
    margin-top: 5em;
}

.field
{
    margin: 1em 0;
    text-align: center;
}

.field label
{
    font-size: 1.5em;
    text-transform: uppercase;
}

.field input
{
    height: 3em;
    width: 50em;
    margin-top: 1em;
}

.submit
{
    margin-top: 1.5em;
    text-align: center;
}

#submit
{
    font-size: 1.5em;
    background-color: blue;
    border: 5px solid white;
    color: white;
    padding: 0.2em 0.5em;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
}
